#one
  {
       text-align: right;
       padding-top: 90px;
       color:rgb(62, 41, 255);
       font-size: 65px;
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  #two
  {
    text-align:center;
    color:rgb(20, 9, 63);
    font-size: 40px;
    font-family: Bold, Helvetica, Arial;


  }
  #taskform 
  {
    text-align:center;
    border-radius:100%;


  }
  #new-task-submit
  {
    text-align:center;
    color:rgb(255, 4, 21);
    font-size: 40px;
    font-family: Bold, Helvetica, Arial;

  }
  #inputtask

  {
    text-align:center;
    color:rgb(255, 226, 4);
    font-size: 40px;
    font-family: Bold, Helvetica, Arial;

  }
  #three

  {
    text-align:center;
    color:rgb(255, 4, 4);
    font-size: 40px;
    font-family: Bold, Helvetica, Arial;

  }
  #tasks
  {
     text-align:center;
      color:rgb(255, 4, 4);
      font-size: 40px;
      font-family: Bold, Helvetica, Arial;
  
    
  }
  #new-task-submit
  {

    text-align:center;
      color:rgb(13, 13, 13);
      font-size: 40px;
      font-family: Bold, Helvetica, Arial;

  }